
        <footer class="footer-basic">
            <ul class="social">
                <li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                <li><a href="#"><i class="icon ion-social-snapchat"></i></a></li>
                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
            </ul>
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="#">List</a></li>
                <li><a href="#">About us</a></li>
            </ul>
            <p class="copyright">© 2022 Project P2</p>
        </footer>
    
    </body>
</html>
