<%- include("header.ejs")%>
<main>
    <form class="messanger" action="" id="form">
        <div class="messages" id="container"></div>

        <input type="hidden" id="hid_inp" name="lastId" value="" />

        <div class="sender">
        <input class="msg-text" type="text" id="text" />
        <input id="project" type="submit" value="Send" />
        </div>
    </form>
</main>

<script src="/pages/chat.js"> </script>
<%- include("footer.ejs")%>