<%- include("header.ejs")%>
<main>

</main>

<script>
    var main = document.querySelector("main");
    for(var i = 0; i < 100; i++)
    {
        main.innerHTML += "<p>" + i + "</p>";
    }
</script>
<%- include("footer.ejs")%>