<%- include("header.ejs")%>
<script>
    document.querySelector("nav").setAttribute("style", "display: none")
    header.setAttribute("style", "display: none")
</script>

<a class="back align-center" href="/">
    <ion-icon name="chevron-back-outline"></ion-icon>
    Back
</a>
<% if(!text) {%>
<div class="align-center border signup">
    <form id="form" class="form-content" action="">
        <h1>
            Sign up
        </h1>

        <div class="container">
            <input id="login" type="text" placeholder="Set Login" name="login">
            <input id="password" type="text" placeholder="Set Password" name="password">
            <input id="cpassword" type="text" placeholder="Confirm Password" name="cpassword">
        </div>
        <div class="container">
            <button id="submit" type="submit" id="login-comfirm">Comfirm</button>
        </div>
    </form>

    <script src="/pages/signup.js"></script>
    <% } else {%>
        <div class="message">
            <%- text %>
        </div>
    <% } %>
</div>
</body>
</html>