<%- include("header.ejs")%>

<div id="test"></div>

<div class="btn-86-container">
    <button class="button-86" role="button">Submit</button>
</div>

<script src="/template.js"></script>
<script src="/pages/cinema.js"></script>
<%- include("footer.ejs")%>